footer button {
    background: transparent;
    border: 0;
    outline: 0;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}